src/main/java/epam/xml/ProductSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name = "Product">
    <xs:complexType>
        <xs.sequence>
            <xs:element name="Manufacturer" type="xs:string"/>
            <xs:element name="Model" type="xs:string"/>
            <xs:element name="Color" type="xs:string"/>
            <xs:element name="Price" type="xs:double"/>
            <xs:element name="Amount" type="xs:integer"/>
        </xs.sequence>
    </xs:complexType>
</xs:element>
    
    
</xs:schema>    