src/main/java/epam/xml/ProductSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name = "Product">
    <xs:complexType>
        <xs.sequence >
            <xs:element name="Manufacturer" type="xs:string">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([a-zA-z_][0-9])*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="Model" type="xs:string">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-z][a-zA-z][a-zA-z][0-9][0-9]"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Color" type="xs:string">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([a-zA-z])*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="Manufacture_Date" type="xs:date"/>
            <xs:element name="Price" type="xs:double">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>

            </xs:element>


            <xs:element name="Amount" type="xs:integer" default="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>

            </xs:element>
        </xs.sequence>
    </xs:complexType>
</xs:element>
    
    
</xs:schema>    